@{
    ViewData["Title"] = "about";
}
<div class="about_bg_wrap">

    <!-- About section start -->
    <section class="fit_about_wrapper pt_100 pb_150">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-8 col-md-10 col-sm-12 col-12 offset-xl-0 offset-lg-2 offset-md-1">
                    <div class="fit_heading text-center text-light">
                        <h2 class="heading_title">TOTAL GYM</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 ">
                    <div style="width:100%; height:100%;">
                        <img style="border-radius:15px;" src="https://media.gq.com.mx/photos/625db17471f363f634bce022/1:1/w_960,c_limit/ejercicio-1388957838.jpg" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 ">
                    <div class="fit_about_content">
                        <h1 class="about_heading">¿Quienes somos?</h1>
                        <p class="text-secondary">En TOTAL GYM, nos enorgullecemos de ofrecer una experiencia de entrenamiento única que va más allá de lo convencional. Nuestro objetivo es brindarte un ambiente inspirador y motivador donde puedas alcanzar tus metas de acondicionamiento físico y mejorar tu calidad de vida.</p>
                        <p class="text-secondary">Ya sea que seas un principiante en el mundo del fitness o un atleta experimentado, FitNation te brinda el escenario perfecto para alcanzar tus metas y descubrir el potencial que hay en ti.</p>
                        <p class="text-secondary">¡Únete a la familia TOTAL GYM hoy mismo y comienza a transformar tu vida! Tu camino hacia un cuerpo más fuerte, una mente más clara y una vida más saludable te está esperando. ¡Te esperamos con los brazos abiertos!</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About section end -->
</div>
