@{
    ViewData["Title"] = "clases";
}
<!-- online classes section start -->
<section class="fit_onclass_wrapper shap" style="background-color:rgb(8 15 30);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-8 col-md-10 col-sm-12 col-12 offset-xl-0 offset-lg-2 offset-md-1">
                <div class="fit_heading text-center">
                    <h2 class="heading_title">Clases en linea</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="fit_onclass_video">
                    <img src="/assets/bg.jpg" class="img-fluid" alt="image">
                    <a href="https://www.youtube.com/embed/8lQzkwqhKTk" rel="external" class="video_btn video_popup" title="title">
                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="44px"><path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M22.000,43.998 C9.868,43.998 -0.000,34.130 -0.000,21.998 C-0.000,9.868 9.868,-0.002 22.000,-0.002 C34.132,-0.002 44.000,9.868 44.000,21.998 C44.000,34.130 34.132,43.998 22.000,43.998 ZM22.000,1.832 C10.880,1.832 1.833,10.878 1.833,21.998 C1.833,33.118 10.880,42.166 22.000,42.166 C33.120,42.166 42.167,33.118 42.167,21.998 C42.167,10.878 33.120,1.832 22.000,1.832 ZM17.913,31.020 C17.762,31.117 17.589,31.165 17.417,31.165 C17.266,31.165 17.114,31.128 16.978,31.053 C16.683,30.893 16.500,30.584 16.500,30.249 L16.500,13.749 C16.500,13.413 16.683,13.105 16.978,12.944 C17.268,12.785 17.631,12.794 17.913,12.978 L30.746,21.228 C31.007,21.396 31.167,21.687 31.167,21.998 C31.167,22.310 31.007,22.601 30.746,22.770 L17.913,31.020 ZM18.333,15.428 L18.333,28.569 L28.554,21.998 L18.333,15.428 Z"></path></svg>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="fit_onclass_data text-light">
                    <h1 class="about_heading">Calistenia</h1>
                    <p class="onclass_pera">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod  incididunt ut labore et dolore magna aliqua. Ut   enim ad minim veniam quis nostru xercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor ierit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="fit_onclass_data text-light">
                    <h1 class="about_heading">Yoga</h1>
                    <p class="onclass_pera">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod  incididunt ut labore et dolore magna aliqua. Ut   enim ad minim veniam quis nostru xercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor ierit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="fit_onclass_video">
                    <img src="/assets/bg.jpg" class="img-fluid" alt="image">
                    <a href="https://www.youtube.com/embed/8lQzkwqhKTk" rel="external" class="video_btn video_popup" title="title">
                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="44px"><path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M22.000,43.998 C9.868,43.998 -0.000,34.130 -0.000,21.998 C-0.000,9.868 9.868,-0.002 22.000,-0.002 C34.132,-0.002 44.000,9.868 44.000,21.998 C44.000,34.130 34.132,43.998 22.000,43.998 ZM22.000,1.832 C10.880,1.832 1.833,10.878 1.833,21.998 C1.833,33.118 10.880,42.166 22.000,42.166 C33.120,42.166 42.167,33.118 42.167,21.998 C42.167,10.878 33.120,1.832 22.000,1.832 ZM17.913,31.020 C17.762,31.117 17.589,31.165 17.417,31.165 C17.266,31.165 17.114,31.128 16.978,31.053 C16.683,30.893 16.500,30.584 16.500,30.249 L16.500,13.749 C16.500,13.413 16.683,13.105 16.978,12.944 C17.268,12.785 17.631,12.794 17.913,12.978 L30.746,21.228 C31.007,21.396 31.167,21.687 31.167,21.998 C31.167,22.310 31.007,22.601 30.746,22.770 L17.913,31.020 ZM18.333,15.428 L18.333,28.569 L28.554,21.998 L18.333,15.428 Z"></path></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="fit_onclass_video">
                    <img src="/assets/bg.jpg" class="img-fluid" alt="image">
                    <a href="https://www.youtube.com/embed/8lQzkwqhKTk" rel="external" class="video_btn video_popup" title="title">
                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="44px"><path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M22.000,43.998 C9.868,43.998 -0.000,34.130 -0.000,21.998 C-0.000,9.868 9.868,-0.002 22.000,-0.002 C34.132,-0.002 44.000,9.868 44.000,21.998 C44.000,34.130 34.132,43.998 22.000,43.998 ZM22.000,1.832 C10.880,1.832 1.833,10.878 1.833,21.998 C1.833,33.118 10.880,42.166 22.000,42.166 C33.120,42.166 42.167,33.118 42.167,21.998 C42.167,10.878 33.120,1.832 22.000,1.832 ZM17.913,31.020 C17.762,31.117 17.589,31.165 17.417,31.165 C17.266,31.165 17.114,31.128 16.978,31.053 C16.683,30.893 16.500,30.584 16.500,30.249 L16.500,13.749 C16.500,13.413 16.683,13.105 16.978,12.944 C17.268,12.785 17.631,12.794 17.913,12.978 L30.746,21.228 C31.007,21.396 31.167,21.687 31.167,21.998 C31.167,22.310 31.007,22.601 30.746,22.770 L17.913,31.020 ZM18.333,15.428 L18.333,28.569 L28.554,21.998 L18.333,15.428 Z"></path></svg>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="fit_onclass_data text-light">
                    <h1 class="about_heading">Boxeo</h1>
                    <p class="onclass_pera">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod  incididunt ut labore et dolore magna aliqua. Ut   enim ad minim veniam quis nostru xercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor ierit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- online classes section end -->
