@{
    ViewData["Title"] = "contact";
}

<!-- Newsletter section start -->
<section class="fit_newsletter_wrapper" >
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="fit_news_head">
                    <h4 class="call_subheading">Contactanos</h4>
                    <h1 class="call_heading">¿Deseas una clase de prueba? Escribenos para agendarla</h1>
                    <a href="https://api.whatsapp.com/send?phone=50250937829&text=Quiero%20programar%20mi%20clase%20de%20prueba" class="call_number">
                        <span><i class="bi bi-whatsapp text-light fs-1"></i><path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M27.688,14.474 C27.169,11.446 25.740,8.692 23.562,6.512 C21.265,4.221 18.357,2.766 15.149,2.316 L15.473,-0.001 C19.187,0.517 22.551,2.197 25.210,4.858 C27.731,7.387 29.385,10.572 29.991,14.081 L27.688,14.474 ZM21.034,8.923 C22.551,10.447 23.550,12.364 23.912,14.480 L21.609,14.874 C21.328,13.238 20.560,11.752 19.387,10.578 C18.145,9.335 16.572,8.554 14.843,8.311 L15.168,5.994 C17.402,6.306 19.430,7.317 21.034,8.923 ZM9.788,16.367 C11.385,18.327 13.189,20.070 15.342,21.424 C15.804,21.712 16.316,21.924 16.797,22.186 C17.040,22.323 17.209,22.280 17.408,22.074 C18.138,21.325 18.881,20.588 19.624,19.851 C20.597,18.884 21.821,18.884 22.801,19.851 C23.993,21.037 25.185,22.224 26.371,23.417 C27.363,24.416 27.357,25.640 26.358,26.652 C25.684,27.332 24.966,27.982 24.330,28.693 C23.400,29.737 22.239,30.074 20.903,29.999 C18.962,29.893 17.177,29.250 15.455,28.413 C11.629,26.552 8.358,23.973 5.619,20.713 C3.590,18.302 1.917,15.673 0.819,12.713 C0.282,11.283 -0.098,9.816 0.020,8.261 C0.095,7.305 0.451,6.487 1.156,5.819 C1.917,5.095 2.635,4.339 3.384,3.602 C4.358,2.641 5.581,2.641 6.561,3.596 C7.166,4.189 7.759,4.795 8.358,5.395 C8.939,5.982 9.519,6.556 10.100,7.143 C11.123,8.173 11.123,9.373 10.106,10.397 C9.376,11.133 8.652,11.870 7.909,12.588 C7.716,12.782 7.697,12.938 7.797,13.175 C8.290,14.349 8.995,15.392 9.788,16.367 Z"></path></svg></span>
                        +(502) 5093 7829
                    </a>
                </div>
            </div>
            <div class="fit_news_data second_bg">
                <h4 class="call_subheading">¿Deseas recibir mas rutinas de ejercicios?</h4>
                <h1 class="call_heading">Dejanos saber tu correo electronico</h1>
                <div class="row mt_30">
                    <div class="col-xl-8 col-lg-7">
                        <div class="fit_form_field">
                            <input class="fit_field_inner" type="text" placeholder="ejemplo@ejemplo.com">
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="fit_form_field">
                            <a style="text-decoration:none;" href="javascript:void(0);" class="fit_btn btn2 text-light">Enviar <i class="bi bi-send-check"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter section end -->