@{
    ViewData["Title"] = "horarios";
}

<!-- Blog section start -->
<section class="fit_blog_wrapper blog_bgimg common_bg shap pt_100 pb_185 bg_second ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-8 col-md-10 col-sm-12 col-12 offset-xl-0 offset-lg-2 offset-md-1">
                <div class="fit_heading text-center">
                    <h2 class="heading_title">Horarios</h2>
                </div>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-md-12">
                <div class=" row container-fluid px-0 mx-0 justify-content-around">
                    <!-- Slider for Blog -->
                    <div class="flip-card col-md-3 p-1 mb-2">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Gym</p>
                                
                            </div>
                            <div class="flip-card-back">
                                <p class="title">5:30am-10:30pm</p>
                                <p>Lunes a Viernes</p>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card col-md-3 p-2 mb-2">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Escuela de Artes Marciales</p>
                                
                            </div>
                            <div class="flip-card-back">
                                <h4 class="text-light">Niños</h4>
                                <p class="title">5:00pm-6:00pm</p>
                                <p>Martes y Jueves</p>
                                <h4 class="text-light">Jóvenes y Adultos</h4>
                                <p class="title">6:00pm-7:00pm</p>
                                <p>Martes y Jueves</p>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card col-md-3 p-1 mb-2">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Zumba</p>
                                
                            </div>
                            <div class="flip-card-back">
                                <p class="title">7:00pm-8:00pm</p>
                                <p>Lunes y Miércoles</p>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card col-md-3 p-1 mb-2">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Calistenia</p>
                                
                            </div>
                            <div class="flip-card-back">
                                <p class="title">9:00am-11:00am</p>
                                <p>Viérnes</p>
                            </div>
                        </div>
                    </div>

                    <!-- Add Pagination -->
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog section end -->