@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div >
        <partial name="membresias" />
    </div>
</section>

<section>
    <div >
        <partial name="about" />
    </div>
</section>

<section>
    <div >
        <partial name="services" />
    </div>
</section>



<section>
    <div>
        <partial name="clases" />
    </div>
</section>



<section >

        <partial name="horarios" />
</section>

<section>
    <div>
        <partial name="contact" />
    </div>
</section>



