<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TotalGym</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nice-select.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


   
</head>
<!-- Header -->
<header class="fit_header_wrapper" style="border:none; ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-5">
                <div class="fit_logo" >
                    <a href="#">
                        <img src="/assets/totalgym.png" class="img" alt="logo" title="logo" style="max-width:100px;">
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8 col-7">
                <div class="fit_main_menu main_menu_parent">
                    <!-- Header Menus -->
                    <div class="fit_nav_items main_menu_wrapper text-right">
                        <ul>
                            <li class="mobile_logo"><a style="text-decoration:none;" href="javascript:void(0);"><img src="assets/images/logo.png" class="img-fluid" alt="logo" title="logo"></a></li>
                            <li ><a style="text-decoration:none;" href="#">Inicio</a></li>
                            <li><a style="text-decoration:none;" href="#">Acerca de Nosotros</a></li>
                            <li><a style="text-decoration:none;" href="#">Membresías</a></li>
                            <li class="has_submenu" >
                                <a style="text-decoration:none;" href="#">Horario</a>
                            </li>
                            <li><a style="text-decoration:none;" href="#">Contactanos</a></li>
                        </ul>
                    </div>
                    <div class="fit_search_wrapper menu_btn_wrap">
                        <span class="fit_searchbtn_wrap">
                            <a href="javascript:void(0);" class="fit_search_btn searchbtn">

                            </a>
                        </span>
                        <ul class="header_social social_icon">
                            <li><a href="javascript:void(0);" class=""><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="7px" height="14px"><path fill-rule="evenodd" fill="rgb(186, 186, 186)" d="M6.736,0.000 L5.057,-0.004 C3.171,-0.004 1.952,1.349 1.952,3.441 L1.952,5.031 L0.264,5.031 C0.118,5.031 -0.000,5.158 -0.000,5.316 L-0.000,7.619 C-0.000,7.776 0.118,7.903 0.264,7.903 L1.952,7.903 L1.952,13.713 C1.952,13.870 2.070,13.997 2.216,13.997 L4.418,13.997 C4.564,13.997 4.682,13.869 4.682,13.713 L4.682,7.903 L6.656,7.903 C6.802,7.903 6.920,7.776 6.920,7.619 L6.921,5.316 C6.921,5.240 6.893,5.168 6.843,5.116 C6.794,5.061 6.727,5.031 6.657,5.031 L4.682,5.031 L4.682,3.684 C4.682,3.037 4.825,2.709 5.605,2.709 L6.736,2.708 C6.881,2.708 7.000,2.580 7.000,2.422 L7.000,0.284 C7.000,0.129 6.882,0.000 6.736,0.000 Z"></path></svg></a></li>
                            <li><a href="javascript:void(0);" class=""><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="17px" height="14px"><path fill-rule="evenodd" fill="rgb(186, 186, 186)" d="M16.531,0.253 C15.856,0.659 15.109,0.952 14.315,1.111 C13.679,0.423 12.773,-0.005 11.770,-0.005 C9.843,-0.005 8.282,1.577 8.282,3.529 C8.282,3.805 8.313,4.076 8.372,4.335 C5.474,4.186 2.904,2.779 1.184,0.642 C0.884,1.163 0.712,1.769 0.712,2.418 C0.712,3.646 1.329,4.726 2.263,5.359 C1.692,5.340 1.154,5.180 0.684,4.916 L0.684,4.960 C0.684,6.673 1.886,8.100 3.481,8.426 C3.189,8.506 2.881,8.552 2.562,8.552 C2.337,8.552 2.119,8.527 1.906,8.487 C2.350,9.891 3.637,10.913 5.163,10.943 C3.970,11.889 2.465,12.456 0.832,12.456 C0.550,12.456 0.272,12.438 -0.001,12.407 C1.543,13.408 3.376,13.994 5.346,13.994 C11.761,13.994 15.268,8.608 15.268,3.936 L15.257,3.478 C15.940,2.982 16.533,2.359 17.000,1.652 C16.374,1.932 15.703,2.123 14.997,2.208 C15.717,1.770 16.269,1.077 16.531,0.253 Z"></path></svg></a></li>
                            <li><a href="javascript:void(0);" class=""><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="14px"><path fill-rule="evenodd" fill="rgb(186, 186, 186)" d="M15.990,8.569 L15.990,13.985 L12.561,13.985 L12.561,8.930 C12.561,7.662 12.065,6.796 10.823,6.796 C9.876,6.796 9.312,7.379 9.064,7.944 C8.973,8.146 8.950,8.425 8.950,8.709 L8.950,13.985 L5.520,13.985 C5.520,13.985 5.566,5.426 5.520,4.538 L8.950,4.538 L8.950,5.877 C8.943,5.887 8.934,5.898 8.927,5.909 L8.950,5.909 L8.950,5.877 C9.405,5.234 10.219,4.316 12.041,4.316 C14.298,4.316 15.990,5.666 15.990,8.569 ZM1.931,-0.015 C0.757,-0.015 -0.010,0.689 -0.010,1.616 C-0.010,2.523 0.735,3.249 1.886,3.249 L1.908,3.249 C3.105,3.249 3.849,2.523 3.849,1.616 C3.826,0.689 3.105,-0.015 1.931,-0.015 ZM0.194,13.985 L3.623,13.985 L3.623,4.538 L0.194,4.538 L0.194,13.985 Z"></path></svg></a></li>
                            <li>
                                <a href="javascript:void(0);" class="menu_btn toggle_btn">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Header End -->
<body>

    <!-- preloader start -->
    <div id="preloader" style="display: none;">
        <div id="status" style="display: none;">
            <img src="assets/images/preloader.gif" alt="preloader">
        </div>
    </div>
    <!-- preloader end -->
    <!-- Banner section start -->
    <section class="fit_banner_wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="fit_banner_text">
                        <h1>Desafia tus limites</h1>
                        <h3 class="pb-3">Inscribete hoy y recibe <span class="h2 text-warning">3 MESES GRATIS</span></span></h3>
                        <div class="banner_btn_wrap mt-2">
                            <a href="javascript:void(0);" class="fit_btn text-light" style="text-decoration:none;">Inscribirme</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner section end -->
    <div class="container-fluid mx-0 px-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <a href="https://api.whatsapp.com/send?phone=50250937829&text=Quiero%20programar%20mi%20clase%20de%20prueba" class="btn-wsp" target="_blank">
        <i class="bi bi-whatsapp text-light" data-toggle="tooltip" title="Escribenos"></i>
    </a>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TotalGym - <a asp-area="" asp-controller="Home" asp-action="Privacy">Este Sitio fue desarrollado por Joseph Aldana</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-3.5.1.slim.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/nice-select.min.js" asp-append-version="true"></script>
    <script src="~/js/SmoothScroll.min.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/939476ebfb.js" crossorigin="anonymous" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
